{% extends "base.html" %}

{% block content %}

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <header id="global-header">
    <nav>
      <div class="nav-wrapper">
        <div class="pull-left ituition-brand"><a href="">iTuition</a></div>
        <ul class="user-button pull-right">
          <li>
            <button class="btn btn-trans btn-round">Become a Tutor</button>
          </li>
          <li><a href="" role="button">Sign Up</a></li>
          <li><a href="" role="button">Log In</a></li>
        </div>
      </div>
    </nav>
    <div class="header-textbox">
      <h1>Find a Tutor</h1>
      <p>We believe that tutor should be made accessible to all. <br class="hidden-mobile">Our application is free for both tutors and students. Find a tutor now.</p>
      <div class="row searchbox">
        <div class="hidden-mobile">
          <form role="form" class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="What subject are you looking for?" id="subject-search" style="width:362px;">
              <input type="text" class="form-control" placeholder="Location" id="location-input" style="width:160px;">
              <span class="input-group-btn">
                <button class="btn btn-trans border-default" type="button">Search</button>
              </span>
            </div><!-- /input-group -->
          </form>
        </div>
      </div>
    </div>
  </header>
  
  <section class="tagline">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>Accessible Tutors</h3>
          <p>We accept tutors to join iTuition at NO COST. That means you will have more choice of tutors to choose from.</p>
        </div>
        <div class="col-sm-4">
          <h3>Trusted Tutors</h3>
          <p>For every tutor you experienced, you can write a review for them. We want to ensure that all tutors are valued accordingly. You can also see how much they charge you.</p>
        </div>
        <div class="col-sm-4">
          <h3>Chat With Your Tutor</h3>
          <p>If you have problem with your work, you can also message your tutor on this website. Their average response time will appear on their profile so you know which tutor are more responsive and value more to you.</p>
        </div>
      </div>
    </div>
  </section>

  <footer id="global-footer">
    <div class="container footer-wrapper">
      <div class="row">
        <div class="col-xs-4">
          <h4>Subjects</h4>
          <ul>
            <li><a href="">Add Maths</a></li>
            <li><a href="">Math Mode</a></li>
            <li><a href="">Bahasa Melayu</a></li>
            <li><a href="">English</a></li>
            <li><a href="">Chemistry</a></li>
            <li><a href="">Biology</a></li>
            <li><a href="">Physics</a></li>
          </ul>
        </div>
        <div class="col-xs-4">
          <h4>Location</h4>
          <ul>
            <li><a href="">Kuala Lumpur</a></li>
            <li><a href="">Puchong</a></li>
            <li><a href="">Putrajaya</a></li>
            <li><a href="">Bali</a></li>
            <li><a href="">Bandung</a></li>
          </ul>
        </div>
        <div class="col-xs-4">
          <h4>iTuition</h4>
          <ul>
            <li><a href="">About</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Help</a></li>
            <li><a href="">Sponsorship</a></li>
            <li><a href="">Terms &amp; Privacy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

{% endblock %}